<!DOCTYPE html>
<html>
<head>
    <title>New Workout</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Add New Workout</h1>
    </header>
    <main>
        <form action="/workouts" method="POST">
            <label for="description">Workout Description:</label>
            <textarea name="description" id="description" required></textarea>
            <button type="submit">Add Workout</button>
        </form>
    </main>
</body>
</html>
